.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
img {
  width: 80%;
  /* min-width: 1294px; */
}
@media (min-width: 21in) {
  .container {
    width: 21.3in;
  }
  img {
    width: 80%;
  }
}

h2 {
  color: #345A4D;
  font-family: "Montserrat", sans-serif !important;
}