.container {
  max-width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.images img {
  width: 100%;
  max-width: 1000px; /* ajusta este valor si quieres más o menos ancho máximo */
  height: auto;
  object-fit: contain;
}

h2 {
  color: #345A4D;
  font-family: "Montserrat", sans-serif !important;
  text-align: center;
}
